.btn
{
    position: relative;
    background-color: #409eff;
    color: #fff;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0;
    transform: skew(-20deg);
    border-radius: 15px 0;
}

.btn::before,.btn::after
{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
}
.btn::before
{
    left: -20px;
    bottom: 0;
    background: radial-gradient(circle at 0 0,transparent 0 20px,#409eff 21px);
}
.btn::after
{
    right: -20px;
    top:0;
    background: radial-gradient(circle at 100% 100%,transparent 0 20px,#409eff 21px);
}